/* change to your own choice of fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;700&display=swap');

@import 'normalize.css';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Arima';
  font-size: 20px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(166, 209, 230);
  padding: 20px;
  width: 100vw;
  text-align: center;
}